@CHARSET "UTF-8";

#home {
	width: 100%;
	height: 550px;
	margin: 0.5em auto;
	background: url("../img/room.png") no-repeat center center fixed;
	background-size: 100% 100%;
	font-family: 'Baloo Bhai', cursive;
	font-weight: bold;
	border: 2px solid #f6e6b4;
	border-radius: 5px;
	box-shadow:  0 1px 2px black;
}

#home #start {
	background-color: rgba(255, 255, 255, 0.6);
	width: 97%;
	height: 100%;
	margin: 0 auto;
}

#home #start h1 {
	text-align: center;
	padding-top: 1em;
	color: #01A6C6;
	text-shadow: 1px 1px #000000;
	font-size: 2em;
}

#home #start #name {
	text-align: center;
	margin-top: 2em;
}

#home #start #name label {
	color: #01A6C6;
	text-shadow: 1px 1px #000000;
	font-size: 1.3em;
}

#home #start #name #baby-name {
	background-color: transparent;
	color: #01A6C6;
	text-shadow: 1px 1px #D3D3D3;
	font-weight: bold;
}

#home #start #name #baby-name:focus {
	color: #01A6C6;
	text-shadow: 1px 1px #D3D3D3;
	font-weight: bold;
}

#home #start #name #enter-name {
	color: red;
}

#home #start #child {
	width: 90%;
	margin: 1em 4em;
	display: inline-block;
}

#home #start #child #boy {
	background: url("../img/boy1.png") no-repeat center center;
	background-size: 100% 100%;
	width: 45%;
	height: 370px;
	float: left;
	cursor:pointer;
	
}

#home #start #child #girl {
	background: url("../img/girl1.png") no-repeat center center;
	background-size: 100% 100%;
	width: 45%;
	height: 370px;
	float: right;
	cursor:pointer;
}

#home #game {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.filter {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	
	z-index: 2;
}

#home #game #tools {
	width: 20%;
	height: 100%;
	float: left;
}

#home #game #baby-box {
	width: 60%;
	height: 100%;
	position: relative;
	float: left;
}

#home #game #baby-box #baby {
  	background: url("../img/girl1.png") no-repeat center center;
	background-size: 100% 100%;
	width: 70%;
	height: 70%;
	margin-top: 8em;
}

#home #game #baby #drink {
	width: 80px;
	height: 110px;
	transform: rotate(50deg);
	margin-top: 13em;
	margin-left: 6em;
}

#home #game #status {
	background-color: rgba(255, 255, 255, 0.6);
	display: flex;
   	flex-direction: row;
   	justify-content: space-between;
   	border-radius: 5px;
	padding: 15px;
	border: 1px solid #f6e6b4;
   	box-shadow:  0 1px 2px black;
   	width: 20%;
   	height: 100%;
   	float: left;
}

#home #game #status ul li {
	
	margin-bottom: 1em;
}

#home #game #status button {
	outline: none;
}

#home #game #sound {
	background: url("../img/sound_on.png") no-repeat center center;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	cursor: pointer; 
	margin-left: 1em;
}

#home #game #friend-baby {
	color: red;
}

.bubble {
  	background: rgba(255, 255, 255, 0.6) no-repeat center center;
	background-size: 100% 100%;
	width: 60%;
	height: 20%;
	cursor: pointer;
	margin: 1em;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bubble-in {
	width: 50%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#jar-bubble {
	background: url('../img/jar.png') no-repeat center center;
	background-size: 100% 100%;
}

#bottle-bubble {
	background: url('../img/bottle.jpg') no-repeat center center;
	background-size: 100% 100%;
}

#bear-bubble {
	background: url('../img/bear.png') no-repeat center center;
	background-size: 100% 100%;
}

#pacifier-bubble {
	background: url('../img/pacifier.png') no-repeat center center;
	background-size: 100% 100%;
}

.bubble-in img {
	width: 80%;
   	z-index: 1;
}

@-webkit-keyframes puls {
  from {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
  50% {
    -webkit-transform: scale(1.05);
    opacity: 0.85;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
}

.puls:hover { 
  opacity: 1.0; 
  -webkit-animation-name: puls; 
  -webkit-animation-duration: 1.5s; 
  -webkit-animation-iteration-count: infinite; 
}