@CHARSET "UTF-8";

#home {
	width: 100%;
	height: 550px;
	margin: 0.5em auto;
	background: url("../img/room.png") no-repeat center center fixed;
	background-size: 100% 100%;
	font-family: 'Arial, Helevetica', sans-serif;
	font-weight: bold;
}

#home #start {
	background-color: rgba(255, 255, 255, 0.6);
	width: 97%;
	height: 100%;
	margin: 0 auto;
}

#home #start h1 {
	text-align: center;
	padding-top: 1em;
	color: #01A6C6;
	text-shadow: 1px 1px #000000;
	font-size: 2em;
}

#home #start #name {
	text-align: center;
	margin-top: 2em;
}

#home #start #name label {
	color: #01A6C6;
	text-shadow: 1px 1px #000000;
	font-size: 1.3em;
}

#home #start #name #baby-name {
	background-color: transparent;
	color: #01A6C6;
	text-shadow: 1px 1px #D3D3D3;
	font-weight: bold;
}

#home #start #name #baby-name:focus {
	color: #01A6C6;
	text-shadow: 1px 1px #D3D3D3;
	font-weight: bold;
}

#home #start #name #enter-name {
	color: red;
}

#home #start #child {
	width: 90%;
	margin: 1em 4em;
	display: inline-block;
}

#home #start #child #boy {
	background: url("../img/boy1.png") no-repeat center center;
	background-size: 100% 100%;
	width: 45%;
	height: 370px;
	float: left;
	cursor:pointer;
	
}

#home #start #child #girl {
	background: url("../img/girl1.png") no-repeat center center;
	background-size: 100% 100%;
	width: 45%;
	height: 370px;
	float: right;
	cursor:pointer;
}

#home #game {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

#home #game #baby {
  	background: url("../img/girl1.png") no-repeat center center;
	background-size: 100% 100%;
	width: 400px;
	height: 400px;
	bottom: 2em;
	left: 15em;
	position: absolute;
}

#home #game #baby #drink {
	width: 80px;
	height: 110px;
	transform: rotate(50deg);
	margin-top: 13em;
	margin-left: 6em;
	display: none;
}

#home #game #bottle {
  	background: url("../img/bottle.jpg") no-repeat center center;
	background-size: 100% 100%;
	width: 50px;
	height: 100px;
	bottom: 14.7em;
	position: absolute;
	cursor: pointer;
}

#home #game #jar {
  	background: url("../img/jar.png") no-repeat center center;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	bottom: 14.7em;
	left: 2.5em;
	position: absolute;
	cursor: pointer;
}

#home #game #bear {
  	background: url("../img/bear.png") no-repeat center center;
	background-size: 100% 100%;
	width: 100px;
	height: 150px;
	bottom: 7em;
	left: 46em;
	position: absolute;
	cursor: pointer;
}
  
#home #game #pacifier {
  	background: url("../img/pacifier.png") no-repeat center center;
	background-size: 100% 100%;
	width: 70px;
	height: 70px;
	bottom: 6em;
	right: 3em;
	position: absolute;
	cursor: pointer;
}

#home #game #status {
	width: 120px;
	padding-top: 1em;
	margin-left: 1em;
}

#home #game #status h1 {
	color: white;
}

#home #game #status .small-label {
	font-size: 0.8em;
	color: white;
}

#home #game #status .small-box {
	width: 100px;
	height: 10px;
	border: 1px solid white;
	margin-bottom: 0.2em;
}

#home #game #status .small-box .food, 
#home #game #status .small-box .drink, 
#home #game #status .small-box .happy {
	height: 10px;
	background-color: rgba(255, 255, 255, 0.6);
}

#home #game #status .small-box .food {
	width: 30%;
}

#home #game #status .small-box .drink {
	width: 70%;
}

#home #game #status .small-box .happy {
	width: 20%;
}

#home #game #sound {
	background: url("../img/sound_on.png") no-repeat center center;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	top: 1em;
	right: 1em;
	position: absolute;
	cursor: pointer;
}

@-webkit-keyframes puls {
  from {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
  50% {
    -webkit-transform: scale(1.05);
    opacity: 0.85;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
}

.puls { 
  opacity: 1.0; 
  -webkit-animation-name: puls; 
  -webkit-animation-duration: 1.5s; 
  -webkit-animation-iteration-count: infinite; 
}

@media all and (max-width: 1120px) {
	#home #game #baby  {
		left: 16em;
	}
	
	#home #game #bear {
		left: 38em;
	}
}

@media all and (max-width: 900px) {
	#home #game #baby  {
		left: 6em;
	}
	
	#home #game #bear {
		left: 29em;
	}
	
	#home #game #bottle {
		left: 0em;
	}
	
	#home #game #jar {
		left: 3em;
	}
	
	#home #game #pacifier {
		right: 0em;
	}
}

@media all and (min-height: 750px) {
	#home #game #baby  {
		bottom: 5em;
	}
	
	#home #game #bear {
		bottom: 10em;
	}
	#home #game #bottle {
		bottom: 19.5em;
	}
	
	#home #game #jar {
		bottom: 19.3em;
	}
}

@media all and (min-height: 1000px) {
	#home #game #baby  {
		bottom: 10em;
	}
	
	#home #game #bear {
		bottom: 15em;
	}
	#home #game #bottle {
		bottom: 25.8em;
	}
	
	#home #game #jar {
		bottom: 25.6em;
	}
}



.button {
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  border: 1px solid #dddddd;
  box-shadow: 1px 1px #000000;
  background-color: rgba(1,166,198,0.3);
  color: #01A6C6;
  text-shadow: 1px 1px #000000;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; 
  outline: none;
  font-weight: bold;
  width: 20%;
  margin-top: 2em;
  cursor:pointer;
}