
body {
	background-image: url('../img/back.png');
}

#wrapper {
   width: 90%;
   margin: 0 auto;
}

.myGrid {
	 width: 100%;
	 height: 570px;
}

.red {
	color: #FF5F49;
}

.pagination, .carousel, .panel-title a { cursor: pointer; }

.navigation {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-radius: 5px;
   border: 1px solid #f6e6b4;
   padding: 15px;
   box-shadow:  0 1px 2px black;
   margin-top: 10px;
   margin-bottom: 10px;
   background: #f6e6b4; /* Old browsers */
   background: -moz-linear-gradient(top, #fdecda 0%, #f4b065 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #fdecda 0%,#f4b065 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #fdecda 0%,#f4b065 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.navigation ul li {
   float: left;
   margin-right: 8px;
}

.navigation a {
   font-family: 'Baloo Bhai', cursive;
   color: #eeeeee;
   font-size: 20px;
   text-decoration: none;
   text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.navigation a:hover {
   text-shadow: 0 0 5px rgba(255,255,255,0.8)
}

.logo {
   font-size: 22px;
   font-family: 'Baloo Bhai', cursive;
   color: #ffff;
}

.stats {
   margin-left: 3px;
   font-size: 20px;
   font-weight: bold;
   color: rgba(0,0,0,0.7);
}

.login {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
}

.login-wrapper {
   display: inline-block;
	width: 250px;
	text-align: left;
	padding: 60px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.5);
	margin-top: 150px;
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.3);
	border: 2px solid #f6e6b4;
}

.login-wrapper>label {
   color: white;
}

.error p{
	color: #CE4844;
}
.profil {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: flex;
   flex-direction: row;
   justify-content: space-between;
	padding: 15px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.6);
	border-left: 6px solid #337AB7;
	background-color: rgba(255,255,255,0.8);
}

.profil:nth-child(2n){
	background-color: rgba(220,255,255,0.8);
}

.profil:first-child {
	margin-top: 20px;
}

.pagination-wrapper {
	text-align: center;
}

.animals-all-wrapper {
   width: 100%;
   margin: 50px auto;
	text-align: center;
}

.animals-wrapper {
   width: 450px;
   margin: 0 auto;
	display: inline-block;

}
.animal-img {
   width: 100px;
   height: 100px;
   border-radius: 5px;
   background-color: #fff;
   position: absolute;
   top: 0;
   left: 0;
   border: 1px solid orange;
   padding: 17px;

}

.animal-img img {
   z-index: 1;
}

.animal-back {


   width: 100px;
   height: 100px;
	cursor: pointer;
   border-radius: 5px;
   background: rgb(234,185,45); /* Old browsers */
   background: -moz-linear-gradient(top, rgba(234,185,45,1) 0%, rgba(199,152,16,1) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.animal-back:hover {
	background: #C89911 !important;
}
.animal {
   width: 100px;
   position: relative;
   height: 100px;
   float: left;
   margin: 5px;
	box-shadow: 0 0 2px rgba(0,0,0,0.7);
	border-radius: 5px;

}


.users-wrapper {
	background-color: rgba(255,255,255,0.6);
	border: 2px solid #f6e6b4;
	border-radius: 5px;
	padding-top: 30px;
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.3);
}

.register-wrapper {
	width: 350px;
	margin: 150px auto;
	background-color: rgba(255,255,255,0.6);
	border: 2px solid #f6e6b4;
	border-radius: 5px;
	padding: 50px;
	padding-left: 95px;
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.3);
	text-align: center;
}

.register-wrapper > div {
	width: 240px;
	text-align: left;

}

.users-wrapper h2{
	font-family: 'Baloo Bhai', cursive;
	font-size: 1.6em;
	color: rgba(0,0,0,0.8);
}
.users-search {
	display: block;
	float: right;
	clear: both;
}
.user-search-box {
	display: inline-block !important;
	width: 200px;
	margin: 40px;

}

.pagination-wrapper ul {
	box-shadow: 0 0 1px rgba(0,0,0,0.7);
}


/* fiends */

.empty-friend-box {
	padding: 70px;
	text-align: center;
}

.empty-friend-box h1 {
	font-size: 2em;
	font-family: 'Baloo Bhai', cursive;
	color: rgba(0,0,0,0.7);
}

.friend-request {
	width: 13%;
	min-width: 140px;
	height: 180px;
	display : flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 10px;
	align-items: center;
	text-align: center;
	margin-bottom: 10px;
}

.friend-request button:first-child{
	margin-right: 5px;
}

.friend-panel {
	min-width: 320px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.request-buttons {
	margin-bottom: 5px;
	margin-top: 10px;
}

.friend-logo img {
	width: 120px;
	height: auto;
	transform: rotate(20deg);
	margin-bottom: 30px;

}
.friends-list {

	width: 13%;
	min-width: 140px;
	height: 180px;
	display : flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 10px;
	align-items: center;
	text-align: center;
	margin-bottom: 10px;

}

.friend-list-logo img {
	width: 90px;
	height: auto;
	margin-bottom: 10px;
}

.friend-buttons button:first-child{
	margin-right: 5px;
}

.friend-buttons {
	margin: 5px;
}

hr {
	height: 7px;
}
/* bgc and border */

.baby-box {
	background-color: rgba(255,255,255,0.9);
	border: 2px solid #f6e6b4;
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.3);
	border-radius: 5px;
}

/* games page */

.games-btns {
	width: 320px;
	margin: 150px auto;
	display: flex;
	flex-direction: column;
}

.games-btns button {
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
	font-family: 'Baloo Bhai', cursive;
	color: rgba(255,255,255,0.8);
	border-radius: 10px;
}

#ranking-wrapper {
	width: 100%;
	background-color: rgba(255,255,255,0.6);
	border: 2px solid #f6e6b4;
	border-radius: 5px;
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.3);
}

/* toyGame */

.toyGame-title {
	width: 450px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 25px;
}

.toyGame-title h1 {
	font-size: 2em;
	font-family: 'Baloo Bhai', cursive;
	margin-bottom: 10px;
}


.toy-game-over {
	width: 400px;
	padding: 40px;
	margin: 0 auto;
	margin-top: 100px;
}

.toy-game-over button {
	margin-top: 20px;
}

<<<<<<< HEAD
/* water game */

.water-all-wrapper {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
}

.water-wrapper {
	width: 60%;
	min-width: 326px;
	display: inline-block;
	margin-top : 30px;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 20px;

}

.water {
	width: 9%;
	min-width: 60px;
	margin-right: 1%;
	margin-bottom: 3px;
	height: 64px;
	float: left;
	border-radius: 5px;
	box-shadow: 0 0 1px rgba(0,0,0,0.4);
}


.water-stats{
	padding: 10px;
	display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.water-back {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 1px solid rgba(255,255,255,0.5);
	background-color: #337AB7;
	cursor: pointer;
}

.water-back:hover {
	background-color: #225D8E;
}

.water-img {
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding-top: 7px;
}

.water-img img {
	width: 80%;
	height: auto;
}

.water-endgame-text {
	margin-top: 200px;
	font-size: 2em;
}

.water-endgame-buttons {
	margin-top: 20px;
}

.water-game-title {
	text-align: center;
	width: 60%;
	min-width: 326px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 20px;
}

.water-game-title h1 {
	font-size: 2em;
	font-family: 'Baloo Bhai', cursive;
	margin-bottom: 10px;
}

.water-game-agenda {
	padding: 5px;
	margin-top: 40px;
	width: 15%;
}

.water-game-agenda table {
	width: 100%;
}

.water-game-agenda table thead th {
	text-align: center;
}

.water-game-agenda table tbody tr {
	text-align: left;
}

.points-count {
	padding: 5px;
	margin-top: 40px;
	width: 15%;
}

.water-game-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
=======
>>>>>>> origin/master
