
<div id="home">
	<script type="text/ng-template" id="alert.html">
	<div ng-transclude></div>
	</script>
	<div uib-alert  class="alert-danger user-alert" ng-if="alerts.errorFlag" close="dangerClose()">{{alerts.error}}</div>
	<div uib-alert  class="alert-success user-alert" ng-if="alerts.success" close="successClose()">Friend request send.</div>
	<div id="start" ng-show="show==1">
		<h1>CHOOSE YOUR BABY</h1>

		<div id="name">
			<form action="" method="post">
				<div>
					<label for="baby-name">Baby name</label>
				</div>
					<input type="text" ng-model="babyName" id="baby-name" name="baby-name"/><span id="enter-name">{{error}}</span>
			</form>
		</div>

		<div id="child">
			<div id="boy" ng-click="createBaby($event)"></div>
			<div id="girl" ng-click="createBaby($event)"></div>
		</div>
	</div>

	<div id="game" ng-hide="show==1">
		<div class="filter" ng-style="{'background-color': filter }">

			<div id="status1">
				<ul>

			        <li class="friend-baby">{{friend_baby}}</li>
			        <li>Name: {{baby.name}} </li>
			        <li>F: {{baby.food}}%</li>
			        <li>D: {{baby.drink}}%</li>
			        <li>H: {{baby.happiness}}%</li>
			        <li><button class="btn btn-default" ng-click="sendFriendRequest()" ng-show="newFriend">Add friend</button></li>
			    </ul>
			    <ul>
			    	 <li><div id="sound" ng-click="soundOnOff()" ng-style="{'background': 'url(' + sound + ') no-repeat center center', 'background-size': '100% 100%'}"></div></li>
			    	<li><button class="btn btn-default" ng-click="openStore()" ng-show="benefits">Benefits</button></li>
			    </ul>
			</div>

			<div id="tools">
				<div id="jar" class="bubble puls" ng-click="play($event)">
					<div class="bubble-in" id="jar-bubble">
						<img src="./assets/img/x-letter.png" alt="" ng-show="x"/>
					</div>
				</div>
				<div id="bottle" class="bubble puls" ng-click="play($event)">
					<div class="bubble-in" id="bottle-bubble">
						<img src="./assets/img/x-letter.png" alt="" ng-show="x"/>
					</div>
				</div>
				<div id="bear" class="bubble puls" ng-click="play($event)">
					<div class="bubble-in" id="bear-bubble">
						<img src="./assets/img/x-letter.png" alt="" ng-show="x"/>
					</div>
				</div>
				<div id="pacifier" class="bubble puls" ng-click="sleep()">
					<div class="bubble-in" id="pacifier-bubble">
						<img src="./assets/img/x-letter.png" alt="" ng-show="x"/>
					</div>
				</div>
			</div>

			<div id="baby-box">
				<div id="baby" ng-style="{'background': 'url(' + babyImage + ') no-repeat center center', 'background-size': '100% 100%'}">
					<img src="assets/img/bottle.jpg" alt="" id="drink" ng-show="bottle==1"/>
				</div>
			</div>

			<div id="status">
				<ul>
					<li><button class="btn btn-default" ng-click="openStore()" ng-show="benefits">Benefits</button></li>
			        <li><div id="sound" ng-click="soundOnOff()" ng-style="{'background': 'url(' + sound + ') no-repeat center center', 'background-size': '100% 100%'}"></div></li>
			        <li class="friend-baby">{{friend_baby}}</li>
			        <li>Name: {{baby.name}} </li>
			        <li>Food: {{baby.food}}%</li>
			        <li>Drink: {{baby.drink}}%</li>
			        <li>Happiness: {{baby.happiness}}%</li>
			        <li><button class="btn btn-default" ng-click="sendFriendRequest()" ng-show="newFriend">Add friend</button></li>
			    </ul>
			</div>
		</div>
	</div>
</div>
