<div id="home">
	<div id="start" ng-show="show==1">
		<h1>CHOOSE YOUR BABY</h1>
		
		<div id="name">
			<form action="" method="post">
				<div>
					<label for="baby-name">Baby name</label>
				</div>
					<input type="text" ng-model="babyName" id="baby-name" name="baby-name"/><span id="enter-name">{{error}}</span>
			</form>
		</div>
		
		<div id="child">
			<div id="boy" ng-click="createBaby($event)"></div>
			<div id="girl" ng-click="createBaby($event)"></div>
		</div>
	</div>
	
	<div id="game" ng-hide="show==1">
		<div id="baby" ng-style="{'background': 'url(' + babyImage + ') no-repeat center center', 'background-size': '100% 100%'}">
			<img src="assets/img/bottle.jpg" alt="" id="drink" ng-show="bottle==1"/>
		</div>
		<div id="bottle" class="puls" ng-click="play($event)"></div>
		<div id="jar" class="puls" ng-click="play($event)"></div>
		<div id="bear" class="puls" ng-click="play($event)"></div>
		<div id="pacifier" class="puls" ng-click="sleep()"></div>
		<div id="status">
			<h1>Name: {{baby.name}}</h1>
			<label class="small-label">Food</label>
			<div class="small-box">
				<div class="food" ng-style="{'width': baby.food+'%'}"></div>
			</div>
			
			<label class="small-label">Drink</label>
			<div class="small-box">
				<div class="drink" ng-style="{'width': baby.drink+'%'}"></div>
			</div>
			
			<label class="small-label">Happiness</label>
			<div class="small-box">
				<div class="happy" ng-style="{'width': baby.happiness+'%'}"></div>
			</div>
		</div>
		
		<div id="sound" ng-click="soundOnOff()" ng-style="{'background': 'url(' + sound + ') no-repeat center center', 'background-size': '100% 100%'}"></div>
	</div>
</div>
