<div class="login">
   <form class="login-wrapper">
         <div class="login-data-wrapper">
            <label>
               Username
               <input type="text" ng-model="usernameData.username">
            </label>
         </div>
         <div class="login-data-wrapper">
            <label>
               Password
               <input type="text" ng-model="usernameData.password">
            </label>
         </div>
         <div class="error">

         </div>
         <button ng-click="login()" name="button">Login</button>

   </form>
</div>
