<div class="login">
   <form class="login-wrapper">
         <div class="login-data-wrapper form-group">
            <label>
               Username
               <input class="form-control" type="text" ng-model="usernameData.username">
            </label>
         </div>
         <div class="login-data-wrapper form-group">
            <label>
               Password
               <input class="form-control" type="password" ng-model="usernameData.password">
            </label>
         </div>
         
            <p class="help-block red">
               {{errors}}
            </p>

         <button class="btn btn-default" ng-click="login()" name="button">Login</button>
         <a href="#/register">Register</a>

   </form>
   <img src="./assets/img/moon.png" alt="" class="moon"/>
   <img src="./assets/img/baby-land.png" alt="" class="title"/>
   <img src="./assets/img/cloud.png" alt="" id="cloud"/>
   <img src="./assets/img/hook.png" alt="" id="hook"/>
   <img src="./assets/img/toy.png" alt="" id="toy"/>
   <img src="./assets/img/car.png" alt="" id="car"/>
   <img src="./assets/img/art.png" alt="" id="art"/>
   <img src="./assets/img/electricity.png" alt="" id="electricity" class="blink_me"/>
</div>
