 <div id="grid1" ui-grid="{ data: myData }" class="grid"></div>

<!-- <table st-table="data" class="table table-striped">
		<thead>
		<tr>
			<th st-sort="username" st-sort-default="true">Username</th>
			<th st-sort="points">Points</th>
			<th st-sort="food_lvl">Food lvl</th>
			<th st-sort="cloth_lvl">Cloth lvl</th>
			<th st-sort="food_q">Food resource</th>
			<th st-sort="drink_q">Water resource</th>
			<th st-sort="toys_q">Toy resource</th>

		</tr>

		</thead>
		<tbody>
		<tr ng-repeat="row in data">
			<td>{{row.username}}</td>
			<td>{{row.points}}</td>
			<td>{{row.food_lvl}}</td>
			<td>{{row.cloth_lvl}}</td>
			<td>{{row.food_q}}</td>
			<td>{{row.drink_q}}</td>
			<td>{{row.toys_q}}</td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table> -->
