
<div class="users-wrapper">
   <img width='150' src="./assets/img/baby-head.png"/>
   
   <div class="users-search">
      <button class="btn btn-default" ng-click="friends()">Friends</button>
      <button class="btn btn-default" ng-click="ranking()">Ranking</button>
      <label>Search: <input type="text" class="form-control user-search-box" ng-model="searchWord"></label>
   </div>
   <div class="profil" ng-repeat="user in data | filter:searchWord | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize">

      <div class="username">
         <h2>{{user.username}}</h2>
      </div>
      <div class="buttons">
         <button class="btn btn-default" ng-click="openProfil($index)">Profil</button>
         <button class="btn btn-default" ng-click="sendFriendRequest($index)">Add friend</button>
      </div>
   </div>

    <div class="pagination-wrapper">
      <ul uib-pagination total-items="data.length" ng-model="currentPage" items-per-page="pageSize"></ul>
    </div>
</div>
