<div class="water-all-wrapper">
      <div class="water-game-title baby-box" ng-if="!(bullets == 0)">
         <h1>
            Water Game
         </h1>
         <p>
            Pick 10 cards to collect points and profits.
         </p>
      </div>
      <div class="water-game-wrapper">
         <div class="points-count baby-box" ng-if="!(bullets == 0)">
            Points:

            <p>
               1 drop = 1 point
            </p>
            <p>
               1 bottle water = 10 points
            </p>
            <p>
               1 dispenser = 50 points
            </p>
         </div>
         <div class="water-wrapper baby-box" ng-if="!(bullets == 0)">
            <div class="water-stats">
               <div class="points">
                  Points:{{points}}
               </div>
               <div class="shots">
                  Shots left:{{bullets}}
               </div>
            </div>
            <div class="water" ng-repeat="water in waterList track by $index" >
               <div class="water-img" ng-show="water.visible">
                  <img ng-src="{{water.url}}"/>
               </div>
               <div class="water-back" ng-show="!water.visible" ng-click="turnVisible($index)">
               </div>
            </div>
         </div>

         <div class="water-game-agenda baby-box" ng-if="!(bullets == 0)">

            <table>
               <thead>
                  <th>Points</th>
                  <th>Rewards</th>
               </thead>
               <tbody>
                  <tr>
                     <td>0 - 50</td>
                     <td>1 <img src="assets/img/water.png"/></td>
                  </tr>
                  <tr>
                     <td>50 - 100</td>
                     <td>2 <img src="assets/img/water.png"/> 1 <img src="assets/img/diamond.png"/></td>
                  </tr>
                  <tr>
                     <td>100 - 150</td>
                     <td>3 <img src="assets/img/water.png"/> 2 <img src="assets/img/diamond.png"/></td>
                  </tr>
                  <tr>
                     <td>150+</td>
                     <td>5 <img src="assets/img/water.png"/> 5 <img src="assets/img/diamond.png"/></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>

      <div class="water-endgame baby-box" ng-if="(bullets == 0)">
         <div class="water-endgame-text">
            <h1>You manage to make {{points}} points and you win
            {{diamonds}} <img src="assets/img/diamond.png"/>
             and {{water}} <img src="assets/img/water.png"/></h1>
         </div>
         <div class="water-endgame-buttons">
            <button class=" btn btn-info" ng-click="reset()">Play again</button>
         </div>
      </div>




</div>
